

header{
    background-image: url(../img/pattern.png);
}

header>img{
    width: 20%;
    height: 15%;
    margin-top: 2%;
}



main>div{
    font-weight: 800;
    color: grey;
}

Div>span{
color: aqua;
}

p>span{
background-color: yellow;
}

ul{
    padding:1%;
}

th,td{
width:200px;
}

th{
color: white;
}

thead{
    background-color:rgb(0, 155, 250)
}

.dispari{
background-color:lightblue;
}

#fotoA{
background-image: url(../img/monitor.jpg);
width: 312px;
height: 208px;
background-size:cover;
color: white;
font-family: Arial, Helvetica, sans-serif;

}

#fotoB{
background-image: url(../img/graph.jpg);
width: 311px;
height: 207px;
background-size:cover;
color: white;
font-family: Arial, Helvetica, sans-serif;
    }


