#container{
    margin:5%;
}

#background{
    background-image: url(../img/pattern.png);
}

#logo{
    width: 202px;
    height: 150px;

}

.didascalia{
    font-weight: 800;
    color: grey;
}


p>span{
background-color: yellow;
}

ul{
    padding:1%;
}

th,td{
width:200px;
}

th{
color: white;
}

thead{
    background-color:rgb(0, 155, 250)
}

.dispari{
background-color:lightblue;
}

#fotoA{
background-image: url(../img/monitor.jpg);
width: 312px;
height: 208px;
background-size:cover;
color: white;
font-family: Arial, Helvetica, sans-serif;

}

#fotoB{
background-image: url(../img/graph.jpg);
width: 311px;
height: 207px;
background-size:cover;
color: white;
font-family: Arial, Helvetica, sans-serif;
    }


